<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- DIV CABEÇARIO -->
    <div id="cabecalho0"></div>

    <!-- DIV CABEÇARIO -->
    <div id="cabecalho1">
        <img src="../img/logo.png" alt="logo" width="150px" height="50%">
    </div>
    <div id="cabecalho1_1"><a href="../html/home.html">Home  |</a> <a href="../html/quemsomos.html"> Quem Somos  | </a><a href="../html/contato.html"> Contato </a></div>

    <!-- DIV CABEÇARIO -->
    <div id="cabecalho2"></div>   

    <!-- DIV MENU -->
    <div id="menu"></div> 
    
    <!-- DIV PRINCIPAL -->
    <div id="principal">
        
        <h2>
            Entre em contato
        </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <hr>
            Seu E-mail <p><input type="email"></p>
            Assunto <p><input type="text"></p>
            Descricao <p><input type="text"></p>
            <p><button>Enviar</button></p>
            <h3>
                <div id="direitoreservado" style="text-align: center">Todos os direitos reservados</div>
            </h3>
    </div>

   <!-- DIV LADO -->
   <div id="lado"></div>

   <!-- DIV RODAPE -->
   <div id="rodape"></div>


    <!-- DIV RODAPE -->

  

</body>
</html>