<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- DIV CABEÇARIO -->
    <div id="cabecalho0"></div>

    <!-- DIV CABEÇARIO -->
    <div id="cabecalho1">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" width="150px" height="50%">
    </div>
    <div id="cabecalho1_1"><a href="../html/home.html">Home  |</a> <a href="../html/quemsomos.html"> Quem Somos  | </a><a href="../html/contato.html"> Contato </a></div>

    <!-- DIV CABEÇARIO -->
    <div id="cabecalho2"></div>   

    <!-- DIV MENU -->
    <div id="menu"></div> 
    
    <!-- DIV PRINCIPAL -->
    <div id="principal"><img src="{{ url_for('static', filename='capa.png') }}" alt="principal" width="100%" height="100%"></div>

   <!-- DIV LADO -->
   <div id="lado"></div>

   <!-- DIV RODAPE -->
   <div id="rodape">
    <br>
    <h1 style="text-align: left">Sobre a universidade</h1>
    <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Dicta deleniti praesentium similique accusamus iste qui maxime optio aperiam natus, placeat iure nulla dolorem aliquid nisi facilis excepturi labore fugiat. Unde!</p>
    <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Dicta deleniti praesentium similique accusamus iste qui maxime optio aperiam natus, placeat iure nulla dolorem aliquid nisi facilis excepturi labore fugiat. Unde!</p>
   </div>


    <!-- DIV RODAPE -->
    <h3>
    <div id="direitoreservado">Todos os direitos reservados</div>
    </h3>
  

</body>
</html>



