<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- DIV CABEÇARIO -->
    <div id="cabecalho0"></div>

    <!-- DIV CABEÇARIO -->
    <div id="cabecalho1">
        <img src="../img/logo.png" alt="logo" width="150px" height="50%">
    </div>
    <div id="cabecalho1_1"><a href="../html/home.html">Home  |</a> <a href="../html/quemsomos.html"> Quem Somos  | </a><a href="../html/contato.html"> Contato </a></div>

    <!-- DIV CABEÇARIO -->
    <div id="cabecalho2"></div>   

    <!-- DIV MENU -->
    <div id="menu"></div> 
    
    <!-- DIV PRINCIPAL -->
    <div id="principal">
        
        <h2>
            Quem somos
        </h2>
            <p>
                Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Consequatur animi inventore dolorum provident cupiditate? Blanditiis quis libero nobis necessitatibus sed quod, explicabo ipsam, dolore ex laudantium repellendus optio, corrupti culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, aperiam dignissimos. Natus, culpa dolor perferendis impedit ad animi dolores saepe nemo veniam veritatis, perspiciatis qui, consequatur corrupti repellat enim? Sequi.
            </p>
            <br>
            <h2>5 motivos para estudar</h2>
            <p>
                <ol>
                    <li>Material sempre atualizado</li>
                    <li>Tablets em sala de aula</li>
                    <li>Professores renomados</li>
                    <li>Universidade bem avaliada</li>
                    <li>Ótima localização</li>
                </ol>
            </p>
            <hr>
            <h2>Objetivos</h2>
            <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Tempora deserunt odit error ut numquam, ad pariatur ea ipsam iusto, labore architecto dicta laboriosam unde illum corporis esse sunt ducimus. Optio. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae sit quam sint dolor, ipsam animi similique inventore, ratione veniam, fugit nisi tempore. Sequi magni possimus voluptatum nisi pariatur quia exercitationem.</p>
    </div>

   <!-- DIV LADO -->
   <div id="lado"></div>

   <!-- DIV RODAPE -->
   <div id="rodape"></div>


    <!-- DIV RODAPE -->
    <h3>
    <div id="direitoreservado">Todos os direitos reservados</div>
    </h3>
  

</body>
</html>