<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            background-image: url(../IMG/wallpaper002.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;

        }
        main{
            background-color: white;
            width: 400px;
            padding: 10px;
            margin: auto;
            border-radius: 15px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <main>
        <h1>Teste de imagem no fundo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis iusto adipisci tempore. Id, vero repellendus ducimus, quaerat earum odit adipisci sit itaque error eligendi optio ut dolor consectetur. Pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veniam repellendus, maxime atque, commodi illum beatae dolorem minus deleniti ea porro animi labore. Excepturi tempora optio omnis dignissimos, laboriosam ipsa.lore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, rem? Quisquam maxime voluptas debitis. Asperiores eum, repellendus adipisci natus quod nisi corporis libero perferendis eveniet quia earum. Culpa, earum ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis iusto adipisci tempore. Id, vero repellendus ducimus, quaerat earum odit adipisci sit itaque error eligendi optio ut dolor consectetur. Pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veniam repellendus, maxime atque, commodi illum beatae dolorem minus deleniti ea porro animi labore. Excepturi tempora optio omnis dignissimos, laboriosam ipsa.lore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, rem? Quisquam maxime voluptas debitis. Asperiores eum, repellendus adipisci natus quod nisi corporis libero perferendis eveniet quia earum. Culpa, earum ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis iusto adipisci tempore. Id, vero repellendus ducimus, quaerat earum odit adipisci sit itaque error eligendi optio ut dolor consectetur. Pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veniam repellendus, maxime atque, commodi illum beatae dolorem minus deleniti ea porro animi labore. Excepturi tempora optio omnis dignissimos, laboriosam ipsa.lore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, rem? Quisquam maxime voluptas debitis. Asperiores eum, repellendus adipisci natus quod nisi corporis libero perferendis eveniet quia earum. Culpa, earum ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis iusto adipisci tempore. Id, vero repellendus ducimus, quaerat earum odit adipisci sit itaque error eligendi optio ut dolor consectetur. Pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veniam repellendus, maxime atque, commodi illum beatae dolorem minus deleniti ea porro animi labore. Excepturi tempora optio omnis dignissimos, laboriosam ipsa.lore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, rem? Quisquam maxime voluptas debitis. Asperiores eum, repellendus adipisci natus quod nisi corporis libero perferendis eveniet quia earum. Culpa, earum ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis iusto adipisci tempore. Id, vero repellendus ducimus, quaerat earum odit adipisci sit itaque error eligendi optio ut dolor consectetur. Pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veniam repellendus, maxime atque, commodi illum beatae dolorem minus deleniti ea porro animi labore. Excepturi tempora optio omnis dignissimos, laboriosam ipsa.lore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, rem? Quisquam maxime voluptas debitis. Asperiores eum, repellendus adipisci natus quod nisi corporis libero perferendis eveniet quia earum. Culpa, earum ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis iusto adipisci tempore. Id, vero repellendus ducimus, quaerat earum odit adipisci sit itaque error eligendi optio ut dolor consectetur. Pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veniam repellendus, maxime atque, commodi illum beatae dolorem minus deleniti ea porro animi labore. Excepturi tempora optio omnis dignissimos, laboriosam ipsa.lore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, rem? Quisquam maxime voluptas debitis. Asperiores eum, repellendus adipisci natus quod nisi corporis libero perferendis eveniet quia earum. Culpa, earum ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis iusto adipisci tempore. Id, vero repellendus ducimus, quaerat earum odit adipisci sit itaque error eligendi optio ut dolor consectetur. Pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veniam repellendus, maxime atque, commodi illum beatae dolorem minus deleniti ea porro animi labore. Excepturi tempora optio omnis dignissimos, laboriosam ipsa.lore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, rem? Quisquam maxime voluptas debitis. Asperiores eum, repellendus adipisci natus quod nisi corporis libero perferendis eveniet quia earum. Culpa, earum ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis iusto adipisci tempore. Id, vero repellendus ducimus, quaerat earum odit adipisci sit itaque error eligendi optio ut dolor consectetur. Pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veniam repellendus, maxime atque, commodi illum beatae dolorem minus deleniti ea porro animi labore. Excepturi tempora optio omnis dignissimos, laboriosam ipsa.lore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, rem? Quisquam maxime voluptas debitis. Asperiores eum, repellendus adipisci natus quod nisi corporis libero perferendis eveniet quia earum. Culpa, earum ullam.</p>
    </main>
</body>
</html>